*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid red;

}
header{
    background-image: url(./immagini/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.barra-interazioni{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
    padding-top: 2%;
    flex-direction: row;
    align-items: center;
    

}
.lista-titolo{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
}
.accedi{

    border-radius: 20px;
    padding-inline: 10px

}

.container-flex-bottoni{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    padding-bottom: 4%;
    
    
}
.download{
    display: flex;
    border-radius: 20px;
    padding-inline: 10px
    
}
.link{
    display: flex;
    align-self: flex-start;
    border-radius: 20px;
    padding-inline: 10px
}
.testo-centrale{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}
    
    

.primo-gruppo{
    display: flex;
    flex-direction: row;
    padding: 100px;
    justify-content: space-around;
    padding-left: 140px;
    padding-right: 140px;
    align-items: center;

}
.prima-immagine{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
    
    
}
.primo-testo{
    display: flex;
    justify-content: center;
    align-items: center;


}
.secondo-gruppo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
    padding-left: 80px;
    padding-right: 80px;
    




}
.secondo-testo{
    display: flex;
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    
    


}
.seconda-immagine{
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    



}
.terzo-gruppo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
    padding-left: 80px;
    padding-right: 80px;
    


}
.terzo-immagine{
    display: flex;
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;


}
.terzo-testo{
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;


}
.quarto-gruppo{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    padding-bottom: 0;
    padding-top: 100px;


}
.quarto-immagine{
    display: flex;
    width: 1000px;
    height: 220px;


}
.quarto-testo{
    display: flex;
    width: 1100px;
    height: 600px;


}
.quinto-gruppo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    


}
.quinto-testo{
    
    display: flex;
    width: 200px;
    height: 80px;
    


}
.quinto-immagine{
    display: flex;
    width: 500px;
    height: 80px;


}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    padding-top: 0;
    
}
.ringraziamenti{
    display: flex;
    width: 1100px;
    height: 450px;

}
.registrazione{
    display: flex;
    width: 1100px;
    height: 80px;

}