*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid red;

}
header{
    background-color: beige;
}
.container-flex-bottoni{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-evenly;
    padding-top: 0;
    padding-left: 630px;
    padding-right:  630px;
    

    
}
.download{
    display: flex;
    
    
    
    
}
.link{
    display: flex;
    align-self: flex-start;
}
.testo-centrale{
    display: flex;
    padding: 100px;
    justify-content: center;
}
.barra-interazioni{
    display: flex;
    padding: 13px;
    
}
.primo-gruppo{
    display: flex;
    flex-direction: row;
    padding: 100px;
    justify-content: space-around;
    padding-left: 280px;
    padding-right: 280px;
    align-items: center;

}
.prima-immagine{
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    
}
.primo-testo{
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;

}
.secondo-gruppo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
    padding-left: 280px;
    padding-right: 280px;
    align-items: center;




}
.secondo-testo{
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    
    


}
.seconda-immagine{
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    



}
.terzo-gruppo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
    padding-left: 280px;
    padding-right: 280px;
    align-items: center;


}
.terzo-immagine{
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;


}
.terzo-testo{
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;


}
.quarto-gruppo{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;


}
.quarto-immagine{
    display: flex;
    width: 1000px;
    height: 220px;


}
.quarto-testo{
    display: flex;
    width: 1100px;
    height: 600px;


}
.quinto-gruppo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-top: 0;


}
.quinto-testo{
    display: flex;
    width: 200px;
    height: 80px;
    


}
.quinto-immagine{
    display: flex;
    width: 500px;
    height: 80px;


}